@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

$theme-color: linear-gradient(to right, #9747ff,#6200ee);
$theme-color-1: #9747ff;
$theme-color-2: #6200ee;
$theme-color-3: linear-gradient(to bottom, #9747ff,#6200ee);
$text-color-1:#6F7181;
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    font-size: 62.5%;
}
body {
    font-family: 'IBM Plex Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
}
a {
    text-decoration: none;
    &:visited{
        color: inherit;
    }
}
.default-layout{
    display: flex;
}
.container{
    width: 100%;
}
.header{
    width: 100%;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 10.3rem;
    border-bottom: 1px #E3E3E2 solid;
    .btn{
        height: 5rem;
        font-size: inherit;
        border: none;
        border-radius: 2.5rem;
    }
    input{
        width: 38rem;
        background-color: #F4F4F4;
        padding-left: 4.4rem;
        ::placeholder{
            color: #68676E;
        }
    }
    button{
        width: 36rem;
        background-image: $theme-color;
        color: white;
        &:hover{
            opacity: 0.7;
            cursor: pointer;
        }
    }
}
.nav-bar{
    border-right: 1px #E3E3E2 solid;
    height: 1024px;
    .logo{
        height: 10.3rem;
        padding: 6rem 0 0 5rem;
        font-size: 2.2rem;
    }
    ul{
        list-style: none;
        display: flex;
        flex-direction: column;
        width: 292px;
        padding: 0;
        margin-top: 8.6rem;
        li{
            font-size: 1.8rem;
            line-height: 5rem;
            padding-left: 4.4rem;
            color: $text-color-1;
            border-bottom: 1px solid #fff;
            &:hover{
                color: #fff;
                font-size: 2rem;
                background-image: $theme-color;
                cursor: pointer;
            }
        }
    }
    .log-out{
        color: #FB6B63;
        font-size: 1.8rem;
        position: absolute;
        left: 10rem;
        bottom: -30rem;
        &:hover{
            cursor: pointer;
        }
    }
}
.footer{
    height: 378px;
    border-top: 1px #E3E3E2 solid;
    .content{
        padding-top: 8rem;
        float: right;
        width: 50%;
        display: flex;
        justify-content: space-around;
        .card{
            line-height: 2rem;
            font-size: 1.5rem;
            display: flex;
            flex-direction: column;
            :first-child{
                line-height: 2.2rem;
                font-size: 1.7rem;
                color: $theme-color-2;
            }
            span{
                padding-bottom: 1.6rem;
            }
        }
    }
}
